* { box-sizing: border-box; }

body {
    margin: 0;
    height: 100vh;
    background: url("images/bg.jpg") center/cover no-repeat;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark Mode */
body.dark {
    background: #121212;
}

.chat-box {
    width: 380px;
    height: 600px;
    background: rgba(255,255,255,0.9);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}

body.dark .chat-box {
    background: #1e1e1e;
    color: white;
}

.header {
    padding: 10px;
    background: #075e54;
    color: white;
    display: flex;
    justify-content: space-between;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.messages::-webkit-scrollbar {
    width: 6px;
}
.messages::-webkit-scrollbar-thumb {
    background: #888;
}

.msg {
    max-width: 70%;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 12px;
    position: relative;
}

.me {
    background: #dcf8c6;
    align-self: flex-end;
}

.other {
    background: white;
    align-self: flex-start;
}

body.dark .other {
    background: #333;
}

.tick {
    font-size: 10px;
    margin-left: 6px;
}

.input-box {
    display: flex;
    padding: 10px;
    background: #eee;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button {
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.typing {
    font-size: 12px;
    padding: 5px;
}
